.h1-title {
  font-family: $font-titulo;
  font-weight: 800;
  font-size: 2rem;
  color: $white
}

.p-subtitle {
  color: $white;
  font-weight: 700;
  line-height: 14px;
}

.h2-title {
  color: $white;
}

.comeback {
  color: $white;
  font-size: 14px;
}
