.hero-container {
  @include center-full;
  padding: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .btns-container {
    display: flex;
    margin-top: 16px;
    gap: 16px;
  }
}